body,html{
  margin: 0;
  padding: 0;
  height: 100%;
}
i,em{
  font-style: normal;
}
.van-tabs--card{
  padding-top: 0 !important;
}
.van-tabs__nav--card{
  margin: 0 !important;
}
.van-tab span{
  color: #fff !important;
}
.van-cell{
  padding: 0.12rem 0.42667rem !important;
}
.van-notice-bar{
  height: .9rem !important;
}
.lractive {
  color: #2795dc;
  border-bottom: 2px solid #2795dc;
}
.van-cell--required{
  line-height: 1.3rem !important;
}
.van-button--info{
  width: 50%;
  position: absolute;
  left: 50%;
   margin:  15px 0 !important;
  transform: translateX(-50%);
}
.reset{
  margin-top: 40px;
}
.tips{
  text-align: center;
  margin-top: 15px;
}
.vant-userInfo{
  border: none!important;
  background-color: transparent!important;
}
/* .__view{
  min-height: 96% !important;
} */
.van-tabs--card>.van-tabs__wrap{
  height: 5% !important;
}
.van-tabs__content--animated{
  height: 95%;
}
.van-tab__pane, .van-tab__pane-wrapper{
  height: 100%;
}
.van-tabs__nav--card{
  height: 100% !important;
}
